{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">These are the messages in group {{ current_group }}</h5>
                    <div id="profile_rightPanel">
                        <div>
                            <div id="msgs">
                                {%for i in messages%}
                                <p>{{i[4]}} >> {{i[2]}}</p><br>
                                {%endfor%}
                                <br>
                            </div>
                        </div>
                        <form action="/add" method="post">
                            <textarea name="message" rows="2" cols="30"
                                placeholder="enter your next message"></textarea>
                            <input type="hidden" id="uid" name="uid" value="{{current_user.id}}">
                            <input type="hidden" id="gid" name="gid" value="{{current_group}}">
                            <br><br>
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-center">

            </div>
            <div class="card-body">
                <h5 class="card-title">Search results in group {{ current_group }}</h5>
                <div>
                    <form action="/home" method="post">
                        <textarea name="words" rows="2" cols="30" placeholder="enter your next message"></textarea>
                        <input type="hidden" id="gid" name="gid" value="{{current_group}}">
                        <br><br>
                        <input type="submit">
                    </form>
                    <div id="searchResults">
                        {%for i in searchResults%}
                        <p>{{i[4]}} >> {{i[2]}}</p><br>
                        {%endfor%}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
