{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
    error: {{ error }}!
</div>
{% endif %}

<body class="text-center">
    <form action="/newgroup" method="post">
        <label for="groupName">Group Name:</label><br>
        <input type="text" id="groupName" name="groupName" placeholder="" value=""><br>
        <input type="hidden" id="uid" name="uid" value="{{current_user.get_id()}}">
        <input type="submit" value="Submit">
    </form>
</body>


{% endblock %}